_2b_comparar_x11_itaee.R
5_graficar_mapas_verticales.R
5_prueba_x11.R
ale_x11.R

0_descargar_viirs.sh
0_descargar_cnbv.sh
2a_cnbv_x11_reload.R
qgis_viirs_marcogeo.qgs
qgis_viirs_marcogeo.qgs~
  
1b_comparar_luces.R
5_comprobar_porcnetajes.R

*temp*
